@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.taskbar {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background:#eae9e9;
    height: 65px;

    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}
.taskbar-navigation{
    display:flex;
    height: 100%;
    align-items: center;
    padding:0 1rem;
}

.taskbar-nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.taskbar-nav-items li {
    padding: 0 0.5rem;;
}

.taskbar-nav-items li {
    color: black;
    font-family: 'Nunito', sans-serif;
}

 .scores {
     text-decoration: none;
     font-size:1rem;
     font-family: 'Nunito', sans-serif;
 }

 .taskbar-logo {
     margin-left: 1rem;
 }

 .nav-spacer{
     flex: 1;
 }

 /* .scores:hover,
.scores:active {
    color: #32dbc6;
} */



/* media queries  */
/* @media (max-width: 768px) {
    .taskbar-nav-items {
        display: none;
    }
} */

/* this media query will hide the button on big screens and remove some margin for the logo */
/* @media (min-width:769px) {
    .taskbar-toggle-button {
        display: none;
    }

    .taskbar-logo {
        margin-left:0;
    }
} */

@media (max-width: 420px) {
    .taskbar-navigation li:first-child {
      width: 25%;
    }
  
    .taskbar-navigation li:nth-child(2) {
      width: 35%;
    }
  
    .taskbar-navigation li:last-child {
      width: 40%;
    }
  }
  